/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* fonts */
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Apis-ExtraBold.ttf);
 }
 @font-face {
    font-family: apisMedium;
    src: url(fonts/Apis-Medium.ttf);
 }
 @font-face {
    font-family: apisBold;
    src: url(fonts/Apis-Bold.ttf);
 }
 @font-face {
    font-family: apisMediumItalic;
    src: url(fonts/Apis-MediumItalic.ttf);
 }
 @font-face {
    font-family: apisMediumBoldItalic;
    src: url(fonts/Apis-BoldItalic.ttf);
 }
 @font-face {
    font-family: apisLight;
    src: url(fonts/Apis-Light.ttf);
 }

/* main styling  */
#tab_contain {
    background-color: #f6f7f9;
    border: 20px solid #000000;
    border-radius: 76px;
    width: 985px;
    margin: 0 auto;
}
#tab_contain *:focus {
    outline: none;
}
 #check_text {
    font-family: apisLight;
    color: #a8aeb4;
    font-size: 20px;
    margin: 0.5em 0 5em 0;
}
.margin {
    text-align: left;
    margin: 3em 9em 2em 5em;
}
.rybel {
    width: 7em;
}
.novo {
    width: 4.5em;
}
p.question {
    color: #454091;
    font-family: apisMedium;
    font-size: 18px;
}
p.choose {
    color: #a8aeb4;
    font-family: apisMediumItalic;
    padding-top: 9px;
    line-height: 28px;
}
p.choose span {
    font-family: apisMediumBoldItalic;
}
.rectangle {
    background-color: #ffffff;
    white-space: pre-line;
    border-radius: 10px;
    padding: 1em 0 1em 2em;
    box-shadow: 0px 0px 6px 2px #e9eaeb;
}
 .tab_lower {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-top: 1px solid #e9eaeb;
    padding: 1em 0 1.5em 0;
}
span.check_padding {
    padding-left: 0.5em;
    position: relative;
    bottom: 5px;
}
.button_page {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* test */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 23px;
    background-color: #eceff3;
    border: 1px solid #d4d8dd;
    /* box-shadow: 0px 0px 3px 2px #e9eaeb; */
}
/* input[type="checkbox"]:checked {
    background-color: deeppink;
} */

input[type="checkbox"]:checked:after {
    content: 'L';
    font-size: 37px;
    color: #312d86;
    position: absolute;
    line-height: 14px;
    font-family: myFirstFont;
    -moz-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-38deg);
    -ms-filter: fliph;
    filter: fliph;
}

input[class="green"]:checked:after {
    content: 'L';
    font-size: 37px;
    color: #01963f;
    position: absolute;
    line-height: 14px;
    font-family: myFirstFont;
    -moz-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-38deg);
    -ms-filter: fliph;
    filter: fliph;
}


button#submit_button {
    background-color: #f7a713;
    background-image: linear-gradient(#fcb72f, #ed8b2b);
    border: 1px solid #e9eaeb;
    border-radius: 19px;
    font-size: 18px;
    font-family: apisMedium;
    color: #ffffff;
    padding: 3px 25px;
}
.apisBold {
    font-family: apisBold !important;
    font-size: 24px;
    color: #576470 !important;
}
