/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* fonts */
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Apis-ExtraBold.ttf);
 }
 @font-face {
    font-family: apisMedium;
    src: url(fonts/Apis-Medium.ttf);
 }
 @font-face {
    font-family: apisBold;
    src: url(fonts/Apis-Bold.ttf);
 }
 @font-face {
    font-family: apisMediumItalic;
    src: url(fonts/Apis-MediumItalic.ttf);
 }
 @font-face {
    font-family: apisMediumBoldItalic;
    src: url(fonts/Apis-BoldItalic.ttf);
 }
 @font-face {
    font-family: apisLight;
    src: url(fonts/Apis-Light.ttf);
 }

/* main styling  */
#tab_contain {
    background-color: #ecf2fd;
    border: 20px solid #000000;
    border-radius: 50px;
    width: 985px;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
}
#tab_contain *:focus {
    outline: none;
}
.flex_circle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9e5fc;
    margin-bottom: 1.5em;
}
 #check_text {
    font-family: apisLight;
    color: #a8aeb4;
    font-size: 20px;
    margin: 1em 0 5em 0;
}
.margin {
    text-align: left;
    margin: 3em 10em 1em 3em;
}
.rybel {
    width: 7.5em;
    position: absolute;
    right: 2.2em;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.novo {
    width: 5em;
    position: absolute;
    left: 2.5em;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
p.question {
    color: #454091;
    font-family: apisMedium;
    font-size: 18px;
}
.company_text {
    font-family: apisLight;
    color: #a8aeb4;
    font-size: 8px;
    white-space: pre-line;
}
p.choose {
    color: #a8aeb4;
    font-family: apisMediumItalic;
    padding-top: 9px;
    line-height: 28px;
}
p.choose span {
    font-family: apisMediumBoldItalic;
}
.rectangle {
    background-color: #ffffff;
    white-space: pre-line;
    border-radius: 10px;
    padding: 1em 0 1em 2em;
    box-shadow: 0px 0px 6px 2px #e9eaeb;
}
.tab_lower {
    background-color: #ffffff;
    border-top: 1px solid #e9eaeb;
    padding: 3em 0;
    position: relative;
}
span.check_padding {
    position: relative;
    bottom: 5px;
    border-top: 1px solid #d9e5fc;
    margin-left: 0.5em;
}
.button_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* test */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 23px;
    background-color: #eceff3;
    border: 1px solid #d4d8dd;
    /* box-shadow: 0px 0px 3px 2px #e9eaeb; */
}
/* input[type="checkbox"]:checked {
    background-color: deeppink;
} */

input[type="checkbox"]:checked:after {
    content: 'L';
    font-size: 37px;
    color: #312d86;
    position: absolute;
    line-height: 14px;
    font-family: myFirstFont;
    -moz-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-38deg);
    -ms-filter: fliph;
    filter: fliph;
}

input[class="green"]:checked:after {
    content: 'L';
    font-size: 37px;
    color: #01963f;
    position: absolute;
    line-height: 14px;
    font-family: myFirstFont;
    -moz-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-38deg);
    -ms-filter: fliph;
    filter: fliph;
}
p.first {
    font-family: apisMedium;
    color: #5e6b77;
    font-size: 15px;
}
button#submit_button {
    background-color: #f7a713;
    background-image: linear-gradient(#fcb72f, #ed8b2b);
    border: 1px solid #e9eaeb;
    border-radius: 19px;
    font-size: 18px;
    font-family: apisMedium;
    color: #ffffff;
    padding: 3px 25px;
}
.apisBold {
    font-family: apisBold !important;
    font-size: 24px;
    color: #576470 !important;
}
.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
}
.dot:nth-child(1) {
    background-color: #f08218;
}
.dot:nth-child(2) {
    background-color:  #cccdd2;
}
.dot:nth-child(3) {
    background-color: #cccdd2;
}
.dot:nth-child(4) {
    background-color: #cccdd2;
}
.dot:nth-child(5) {
    background-color:  #cccdd2;
}
.dot:nth-child(6) {
    background-color:  #ffffff;
}

/* arrows */

  .arrows {
    position: absolute;
    right: 11px;
    top: 24px;
}
.arrow {
    border: solid #9299a3;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
      margin-right: 25px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 25px;
  }

  /* mobile only */
  @media (max-width: 767px) {
    /* .flex_circle {
        align-items: flex-end;
    }
    p.first {
        font-size: 42px;
    }
    .dot {
        height: 40px;
        width: 40px;
    } */
    .margin {
        margin: 4em 2em 1em 2em;
    }
    /* .arrow {
        border-width: 0 13px 12px 0;
        padding: 12px;
    }
    p.question {
        font-size: 33px !important;
    }
    p.choose {
        padding-top: 10px;
        line-height: 49px;
    }
    #check_text {
        font-size: 52px;
    }
    input[type="checkbox"] {
        width: 45px;
        height: 44px;
    }
    button#submit_button {
        font-size: 44px;
        padding: 5px 44px;
    } */
    #tab_contain {
        width: 100%;
    }
    p.first {
        font-size: 14px;
    }
    .rectangle {
        padding: 1em 1em 1em 1em;
    } 
    p.question {
        font-size: 16px;
    }
    #check_text {
        margin: 1em 0 1em 0;
    }
    .apisBold {
        font-size: 18px;
    }
    p.choose {
        line-height: normal;
    }
    #check_text {
        font-size: 16px;
    }
    .company_text {
        display: none;
    }
  }